<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServiceNowUrl" value="https://mycompany.service-now.com/api/now/table/incident" />
    <add key="ServiceNowUserName" value="myusername"/>
    <add key="ServiceNowPassword" value="mypassword"/>
    <add key="ServiceNowAssignmentGroup" value="ServiceDesk"/>
    <add key="ServiceNowCatalogueName" value="My Application Name"/>
    <add key="ServiceNowCategory" value="Incident"/>
    <add key="ServiceNowSubCategory" value="Incident"/>
    <add key="ServiceNowIncidentImpact" value="3"/>
    <add key="ServiceNowIncidentPriority" value="3"/>
    <add key="ServiceNowContactType" value="webservice"/>
    <add key="ServiceNowCallerId" value="webservice"/>
    <add key="ServiceNowTicketShortDescription" value="Sudipta Chaudhari - Sample Exception generated for SNOW"/>
  </appSettings>
</configuration>